<div class="row">
  <div class="span9">
  <h1> <%=@site[:title]%> </h1>
  By <i> <%=@site.user[:name]%> </i><br>
  <% if :notice %>
        <p id="notice"> <%= notice ? notice : '' %> </p>
  <% end %>
  </div>
</div>
<div class="row">
  <div class="span9">
    <%if @is_user_site_owner%>
      <%= link_to "Back", url_for(@site.user), class:"btn"%>
      <%= link_to "Add Product",new_product_url+"?site_alias="+@site[:alias].to_s, class:"btn btn-success"%>
    <%end%>
</div>
</div>
<%= render "products" %>
<%= render "catalogs" %>